########################
# Build artifacts
########################
**/target/
**/dist/

########################
# Dependencies
########################
**/node_modules/

########################
# IDE / Project files
########################
.idea/
*.iml
.vscode/
*.classpath
*.project
*.settings/

########################
# OS / Misc
########################
.DS_Store
Thumbs.db

########################
# Logs & temp files
########################
logs/
*.log
*.tmp


