<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.recruitment.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.example.recruitment.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="role" property="role"/>
        <result column="email" property="email"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <select id="findByUsername" parameterType="string" resultMap="UserResultMap">
        SELECT * FROM user WHERE username = #{username}
    </select>

    <select id="selectById" parameterType="long" resultMap="UserResultMap">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.example.recruitment.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username, password, salt, role, email, created_at)
        VALUES (#{username}, #{password}, #{salt}, #{role}, #{email}, #{createdAt})
    </insert>

    <update id="update" parameterType="com.example.recruitment.entity.User">
        UPDATE user
        <set>
            <if test="password != null">password = #{password},</if>
            <if test="salt != null">salt = #{salt},</if>
            <if test="email != null">email = #{email},</if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>

